@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", "sans-serif";
	background-color: #05264c;
}

/* Navbar */
.navbar {
	color: white;
	height: 70px;
}
.container-nav {
	max-width: 1240px;
	margin: 0 auto;
	padding: 10px 40px;
}

/* Head */
.head {
	color: white;
	height: 230px;
}

.card-head {
	background-color: white;
	color: #333;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 40px;
	max-height: 230px;
	grid-area: card-head;
}

.card-followers {
	background-color: white;
	color: #333;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 10px;
	width: 300px;
	max-height: 208px;
	overflow-y: auto;
	grid-area: card-followers;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	max-width: 1240px;
	margin: 0 auto;
	padding: 10px 40px;
	grid-template-areas: "card-head avatar card-followers";
}

#followers {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.username-form .form-control {
	margin: 30px 0;
}

.username-form input[type="text"] {
	border: 0;
	border-bottom: 1px solid #b4becb;
	width: 100%;
	padding: 3px;
	font-size: 16px;
	outline: none;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #05264c;
	color: white;
}

.btn-primary {
	display: inline-block;
	padding: 10px 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: white;
	color: #05264c;
	font-size: 15px;
	font-weight: bold;
}

#avatar {
	justify-self: center;
	margin-top: 40px;
	grid-area: avatar;
}

img {
	height: 200px;
	justify-self: center;
}

/* Main Body */
#repos-container {
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 10px;
	margin: 0 10px;
	overflow-y: auto;
	margin-top: 25px;
	max-height: 300px;
}

.card-repos {
	background-color: white;
	color: #333;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 10px;
	word-wrap: break-word;
}

.repo-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	margin-top: 100px;
	grid-area: "repo-wrapper";
}

.main-body {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 50px;
}

.recent-activity {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	margin-top: 100px;
	grid-area: "recent-activity";
}

#recent-act-container {
	margin-top: 33px;
}

.recent-act-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.languages-card {
	background-color: white;
	color: #333;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 10px;
}

.starcount-card {
	background-color: white;
	color: #333;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 10px;
}

.forkcount-card {
	background-color: white;
	color: #333;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 10px;
}

/* Media Queries */

@media screen and (max-width: 1100px) {
	.main-body {
		grid-template-columns: 1fr;
		justify-items: center;
	}
	.recent-activity {
		margin: 0;
	}
}

@media screen and (max-width: 800px) {
	.form-head {
		font-size: 17px;
	}
	.card-head {
		margin: 39px 25px;
	}

	.username-form input[type="text"] {
		font-size: 15px;
	}
	.btn {
		font-size: 13px;
	}
	.container {
		padding: 10px 25px;
	}
	#follower-heading {
		font-size: 20px;
	}
	.card-repos {
		padding: 19px;
		margin: 10px 5px;
		width: 90%;
	}
	.recent-activity {
		width: 90%;
	}
}

@media screen and (max-width: 680px) {
	.container {
		grid-template-columns: 1fr;
		justify-self: center;
		grid-template-areas:
			"card-head"
			"avatar"
			"card-followers";
	}

	.main-body {
		margin-top: 470px;
	}
	#followers {
		margin-top: 20px;
	}
	#avatar {
		margin-top: 0;
	}
	#repos-container {
		grid-template-columns: 1fr;
		margin-top: 20px;
	}
}

@media screen and (max-width: 485px) {
	.card-head {
		width: 330px;
	}
}
@media screen and (max-width: 390px) {
	.card-head {
		width: 260px;
	}
}
